@model IEnumerable<MvcLibrary.ViewModels.ReservedBookViewModel>

@{
    ViewData["Title"] = "Reservations User";
}

<p>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Book")'">Books</button>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Reservation")'">Your Reservations</button>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Lease")'">Your Leases</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReserved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @item.DateReserved.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    <form asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@item.ReservationId" />
                        <button type="submit" class="btn btn-danger">Delete Reservation</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
