@model IEnumerable<MvcLibrary.ViewModels.BookViewModel>

@{
    ViewData["Title"] = "Books User";
}
<p>
<button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Book")'">Books</button>
<button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Reservation")'">Your Reservations</button>
<button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Lease")'"> Your Leases</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <form asp-action="Reserve" asp-controller="Reservation" asp-route-id="@item.Id" method="post">
                        <button type="submit" 
                                class="btn @(item.IsReservedOrLeased ? "btn-secondary" : "btn-primary")"
                                disabled="@(item.IsReservedOrLeased)">
                                @(item.IsReservedOrLeased ? "Reserved/Leased" : "Reserve")
                        </button>
                    </form>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
