@model IEnumerable<MvcLibrary.Models.Book>

@{
    ViewData["Title"] = "Books User";
}

<h1>Here are all the books we have</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    <form asp-action="Reserve" asp-controller="Book" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-primary">Reserve</button>
                    </form>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
