@model IEnumerable<MvcLibrary.ViewModels.LeaseViewModel>

@{
    ViewData["Title"] = "Leases User";
}

<p>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Book")'">Books</button>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Reservation")'">Your Reservations</button>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Lease")'">Your Leases</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @item.DateLease.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            </tr>
        }
    </tbody>
</table>
